@model Instractor
<h1>Details</h1>
@Model.Name
@Model.Id
@Model.Address
@Model.Course.Name
@Model.Salary
<img src="/Image/@Model.Image" style="width:100px; height:100px" />
<a href="/Instractor/Index">Back </a>

